<!--Page used for creating new issues, saving to mongoDB-->
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Product">
  <head>
      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <title>issueprism - Add An Issue</title>
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8" />
    <meta name="description" content="Welcome to the new marketplace of ideas." />

    <meta itemprop="name" content="The Name or Title Here">
    <meta itemprop="description" content="This is the page description">
    <meta itemprop="image" content="http://oi61.tinypic.com/11hwk11.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@gmeyr">
    <meta name="twitter:title" content="issueprism">
    <meta name="twitter:description" content="Welcome to the new marketplace of ideas.">
    <meta name="twitter:creator" content="@gmeyr">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://oi61.tinypic.com/11hwk11.jpg">

  <!-- Open Graph data -->
    <meta property="og:title" content="issueprism" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://issueprism.com/" />
    <meta property="og:image" content="http://oi61.tinypic.com/11hwk11.jpg" />
    <meta property="og:description" content="Welcome to the new marketplace of ideas." />
    <meta property="og:site_name" content="issueprism" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <style>
    #navbar img {
      display: inline-block;
    }
    #navbar p {
      display: inline-block;
      margin: 40px 30px  0px 30px;
      position: absolute;
      z-index: 15;
    }
    </style>
  </head>
  <body>
    <div id="navbar">
      <a href = "/"><img src="http://oi61.tinypic.com/11hwk11.jpg " alt="IP Logo" style="width: 400px"></a>
      <p><a href="/">Home</a> &nbsp; <a href="/addissue">Add Issue</a><!--<div class="issueTypeScope"></div>--></p>
    </div>
    <div class="container">
    <div class="row">
      <div class="col s6">

    <h2>Create An Issue</h2>

    <form action="/submit" method="post">
      <p>Title:<br><input type="text" name="title" ><br><span class="helpertext">Make sure it's a question</span></p>
      <p>Description:<br><textarea name="text" rows="4" cols="50"></textarea></p>
      <p>Type:<br>
         <input name="type" type="radio" value="science" id="science" checked />
         <label for="science">Science</label>
         <input name="type" type="radio" value="politics" id="politics" />
         <label for="politics">Politics</label> 
         <input name="type" type="radio" value="life" id="life" />
         <label for="life">Life</label>
         <input name="type" type="radio" value="sports" id="sports" />
         <label for="sports">Sports</label> 
      </p>
      <p>Scope:<br>
         <input name="scope" type="radio" value="local" id="local" checked />
         <label for="local">Local</label>
         <input name="scope" type="radio" value="regional" id="regional" />
         <label for="regional">Regional</label> 
         <input name="scope" type="radio" value="national" id="national" />
         <label for="national">National</label>
         <input name="scope" type="radio" value="global" id="global" />
         <label for="global">Global</label> 
      </p>
      <input type="checkbox" id="alsocomment" />
      <label for="alsocomment">Add your own comment</label>

      <script>
          var checkbox = document.querySelector("#alsocomment");
          checkbox.addEventListener("change", function() {
            $(".commentForm").toggle();
          });
      </script>

        <div class="commentForm">
          <p>Side:<br>
            <input name="commside" type="radio" value="pro" id="pro" checked />
            <label for="pro">Pro</label>
            <input name="commside" type="radio" value="con" id="con" />
            <label for="con">Con</label> 
          </p>
          <p>Comment:<br>
            <textarea type="text" name="commtext" cols="40" rows="4"></textarea>
          </p>
          <p>Reference Link:<br>
            <input type="text" name="commref" style="width:300px"><br>
          </p>
          <p>Comment Type:<br>
            <input name="commtype" type="radio" value="statistical" id="statistical" checked />
            <label for="statistical">Statistical</label>
            <input name="commtype" type="radio" value="rational" id="rational" />
            <label for="rational">Rational</label> 
            <input name="commtype" type="radio" value="moral" id="moral" />
            <label for="moral">Moral</label>
            <input name="commtype" type="radio" value="anecdotal" id="anecdotal" />
            <label for="anecdotal">Anecdotal</label> 
          </p>
        </div>






          <script>
            $(".commentForm").hide();
          </script>

      <p><button class="btn waves-effect waves-light" type="submit" value="Ask ">(Submit)</button></p>
    </form>
    </div>
    </div>
    </div>
  </body>
</html>
