<!--home page-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html itemscope itemtype="http://schema.org/Product">
   <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>issueprism</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <meta name="description" content="Welcome to the new marketplace of ideas." />

      <meta itemprop="name" content="The Name or Title Here">
      <meta itemprop="description" content="This is the page description">
      <meta itemprop="image" content="http://oi61.tinypic.com/11hwk11.jpg">

      <!-- Twitter Card data -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@gmeyr">
      <meta name="twitter:title" content="issueprism">
      <meta name="twitter:description" content="Welcome to the new marketplace of ideas.">
      <meta name="twitter:creator" content="@gmeyr">
      <!-- Twitter summary card with large image must be at least 280x150px -->
      <meta name="twitter:image:src" content="http://oi61.tinypic.com/11hwk11.jpg">

      <!-- Open Graph data -->
      <meta property="og:title" content="issueprism" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="http://issueprism.com/" />
      <meta property="og:image" content="http://oi61.tinypic.com/11hwk11.jpg" />
      <meta property="og:description" content="Welcome to the new marketplace of ideas." />
      <meta property="og:site_name" content="issueprism" />
      <meta http-equiv="Content-type" content="text/html" charset="UTF-8">
    <style>
    #navbar img {
      display: inline-block;;
    }
    #navbar p {
      display: inline-block;
      margin: 30px 30px  0px 30px;
      position: absolute;
      z-index: 15;
    }
    h1 {
      font-size: 10;
      margin-bottom: 20px;
      margin-left: 20px;
      font-weight: normal;
    }
    #left_space {
      margin-left: 30px;
    }
    #homeBtn, #addIssueBtn {
      color: black !important;
      font-color: black !important;
      font-size: 20px;
    }
    .navbar-collapse.collapse {
      display: block !important;
    }

    .navbar-nav>li, .navbar-nav {
      float: left !important;
    }

    .navbar-nav.navbar-right:last-child {
      margin-right: -15px !important;
    }

    .navbar-right {
      float: right !important;
    }
    .middle-spacer {
      width: 10%;
    }
    </style>

  </head>
  <body>
    <script src="//code.jquery.com/jquery-2.1.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  
    <nav class="white lighten-1" role="navigation" style="height: 110px;">
      <div nav-wrapper container>
        <a href="/">
          <img src="http://oi61.tinypic.com/11hwk11.jpg " alt="IP Logo" style="width:350px">
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/"><span  id="homeBtn">Home</span></a></li>
          <li><a href="/addissue"><span id="addIssueBtn">Add Issue</span></a></li>
        </ul>
      </div>
    </nav>

    <!--content-->

      <div class="container">
         <br><br>
        <h1 class="header center orange-text">welcome to issueprism</h1>
        <div class="row center">
          <h5 class="header col s12 light">the new marketplace of ideas</h5>
        </div>   
          <div class="row">
            <div class="left s12 m12 l12 middle-spacer">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="left s12 m12 l12 middle-spacer">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            </div>
            
              <div class="left">
                <div class="input-field s12 m5 l5">
                  <h5>Select a type of issue</h5>
                  <select id="select-type">
                    <option name="type" value="science" selected>Science</option>
                    <option name="type" value="politics">Politics</option>
                    <option name="type" value="life">Life</option>
                    <option name="type" value="sports">Sports</option>
                  </select>
                </div>
              </div>
              <div class="left s12 m12 l12 center">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div class="left">
                <div class="input-field s12 m5 l5">
                  <h5>Now select a scope</h5>
                  <select id="select-scope">
                    <option name="scope" value="local"  selected>Local</option>
                    <option name="scope" value="regional">Regional</option>
                    <option name="scope" value="national">National</option>
                    <option name="scope" value="global">Global</option>
                  </select>
                </div>
              </div>
          </div>
          <div class="row center">
            <button  id="form-button" value="View Issues" class="btn-large waves-effect waves-light orange">View Issues</button>
          </div>


<script>
$(document).ready(function() {
    $('select').material_select();
    $('#form-button').click(function(){
      var scope = $('#select-scope').val();
      var type = $('#select-type').val();
      var newURL = '/template?type=' + type + '&scope=' + scope;
      console.log('newURL', newURL);
      window.location = newURL;
    })
});
</script>

</body></html>
