<!DOCTYPE html>
<html>
  <head>
    <title>handlebars demo</title>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script type="text/javascript" src="https://github.com/downloads/wycats/handlebars.js/handlebars-1.0.rc.1.min.js">
    </script>
  </head>

  <body>
    <!--header-->
    <h1 class="logo">issueprism</h1>
    <div class="navbar">
      <p><a href="/">Home</a> &nbsp; <a href="/addissue">Add Issue</a></p>
    </div>

    <!--handlebars content-->
    <div id="contentplaceholder"></div>
    <div id="issuelist">

    </div>
    <script id="Handlebars-Template" type="text/x-handlebars-template">
      <p>Title should be here: {{title}}</p>
      <p>Text should be here: {{text}}</p>
    </script>
    <script type="text/javascript">
      /*failed attempt to use a regex to handle parameters
        from the form on the previous page to decide which
        posts to show*/


      var str = $("#Handlebars-Template").html();
      var template = Handlebars.compile(str);

      var pathArray = window.location.search;

      var re = new RegExp (/(type=science)/);

      console.log(re.test(pathArray));
      console.log("pathArray is: " + pathArray, typeof pathArray);
      </script>

      <div class="content">
      </div>
      <script>
      var pathArray = window.location.search;

      requestIssue(pathArray);


      //helper funtions

      function requestIssue(sendData){
          console.log("requesting issue #" + pathArray)
          var req = new XMLHttpRequest();
          req.open("GET", "/id", false);
          req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
          req.send(sendData);
          console.log("Got back: " + req.response, typeof req.response);
          $(document).ready(function(){
            $('#issuelist').html(req.responseText);
          })

      }

      </script>
  </body>
</html>
