<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Product">
  <head>
   <meta charset="UTF-8">
    <title>issueprism</title>
    <meta name="description" content="Welcome to the new marketplace of ideas." />

    <meta itemprop="name" content="The Name or Title Here">
    <meta itemprop="description" content="This is the page description">
    <meta itemprop="image" content="http://oi61.tinypic.com/11hwk11.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@gmeyr">
    <meta name="twitter:title" content="issueprism">
    <meta name="twitter:description" content="Welcome to the new marketplace of ideas.">
    <meta name="twitter:creator" content="@gmeyr">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://oi61.tinypic.com/11hwk11.jpg">

    <!-- Open Graph data -->
  <meta property="og:title" content="issueprism" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://issueprism.com/" />
    <meta property="og:image" content="http://oi61.tinypic.com/11hwk11.jpg" />
    <meta property="og:description" content="Welcome to the new marketplace of ideas." />
    <meta property="og:site_name" content="issueprism" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">

    </script>
    <style>
      .allprocomments {
        display: inline-block;
        float: left;
        position: absolute;
        width: 400px;
        margin-top: 30px;
        margin right: 30px;
      }
      .allconcomments {
        display: inline-block;
        float: right;
        margin-left: 500px;
        position: absolute;
        margin-top: 30px;
        width: 400px;
      }
      #commentButton {
        z-index: 3;
        float: left;
        position: absolute;
      }
      .comment {
        display: block;
        position: relative;
        margin: 5px 150px 5px -150px;
        padding: 0px 10px;
        min-height: 150px;
        min-width: 230px;
        background-color: white;
      }
      .addCommentForm {
        position: absolute;
        z-index: 10;
        background-color: #E3E3E3;
        float: left;
        clear: both;
        margin: 50px 0px 0px 170px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 10px;
      }
      .votediv p {
        margin-top: 10px;
        margin-left: 100px;
      }
      .all_comment_right {
        display: inline;
        float: right;
        width: 80%;
        margin-left: 10px;
        padding: 10px;
        border: 2px solid black;
        border-radius: 10%;
      }
     .stat_comment_right {
       display: inline;
       float: right;
       width: 80%;
       margin-left: 10px;
       padding: 10px;
       border: 2px solid #FF6600;
       border-radius: 10%;
     }
     .rat_comment_right {
       display: inline;
       float: right;
       width: 80%;
       margin-left: 10px;
       padding: 10px;
       border: 2px solid #FFC90E;
       border-radius: 10%;
     }
     .moral_comment_right {
       display: inline;
       float: right;
       width: 80%;
       margin-left: 10px;
       padding: 10px;
       border: 2px solid #00B28F;
       border-radius: 10%;
     }
     .anec_comment_right {
       display: inline;
       float: right;
       width: 80%;
       margin-left: 10px;
       padding: 10px;
       border: 2px solid #A349A4;
       border-radius: 10%;
     }
     .comment_left {
       display: inline;
       margin: 1px solid black;
       z-index: 2;
       position: absolute;
       margin-top: 14px;
     }
     .up_vote_button {
       width: 50px;
       height: 40px;
       margin-left: 2px;
     }
     .down_vote_button {
       width: 50px;
       height: 40px;
       margin-left: 2px;
     }
     button {
       position: inherit;
       float: left;
     }
     .votediv {
        z-index: 0;
     }
     #navbar img {
       display: inline-block;;
     }
     #navbar p {
       display: inline-block;
       margin: 40px 30px  0px 30px;
        position: absolute;
       z-index: 15;
      }
     .button_bar {
        margin-left: 500px;
        background-color: grey;
      }
      .main_content{
        margin-left: 200px;
        position: relative;
      }
      #issueContent {
        margin-left: 230px;
        margin-right: 150px;
        position: relative;;
        float: left;
      }
      #prism {
        margin-left: 200px;
        float: left;
        position: relative;
      }
      .h2_Statistical {
        color: #FF6600;
      }
      .h2_Rational {
        color: #FFC90E;
      }
      .h2_Moral {
        color: #00B28F;
      }
      .h2_Anecdotal {
        color: #A349A4;
      }
      .clear{
        clear: both;
        height: 1px;
        width: 100%;
      }
      .allprocomments h2 {
        margin-left: -100px;
        font-size: 20px;
      }
      .allconcomments h2 {
        margin-left: -100px;
        font-size: 20px;
      }
      .statistical_flag {
        height: 30px;
        width: 30px;
        margin: 3px;
        color: #FF6600;
        position: absolute;
        z-index: 5;
      }
      .issueTypeScope {
        display: inline-block;
      }
      .issueText {
        margin-bottom: 40px;
        margin-right: 200px;
      }
      .issueTitle {
        margin-right: 150px;
      }
    </style>
  </head>

  <body>
    <div id="navbar">
      <a href = "/"><img src="http://oi61.tinypic.com/11hwk11.jpg " alt="IP Logo" style="width: 400px"></a>
      <p><a href="/">Home</a> &nbsp; <a href="/addissue">Add Issue</a><!--<div class="issueTypeScope"></div>--></p>
    </div>

    <div id="issueContent">
      <div class="issueTitle"></div>
      <div class="issueText"></div>
    </div>
    <div class="clear"></div>
    
    <!--Comment Area-->
    <div class="main_content">
      <div>
       <div class="allprocomments">
        Pro Comments
      </div>
      <div class="allconcomments">
        Con Comments
      </div>
    </div>

    <script>
      'strict mode'
// GET issue
      $(function (){
        var idPath = "/id/?_id=" + pathArray;
        $.ajax({
          type: "GET",
          url: idPath,
          success: function(data) {
          var dataObj = {
                          _id: JSON.stringify(data._id).replace(/\"/g, ""),
                          title: JSON.stringify(data.title).replace(/\"/g, "").replace(/\/\'/g, '&#39;').replace(/\/\"/g, '&#quot;'),
                          text: JSON.stringify(data.text).replace(/\"/g, "").replace(/\/\'/g, '&#39;').replace(/\/\"/g, '&#quot;'),
                          type: JSON.stringify(data.type).replace(/\"/g, ""),
                          scope: JSON.stringify(data.scope).replace(/\"/g, "")
                        };

          $('.issueTypeScope').html("<p>" + dataObj.type + " : " + dataObj.scope + "</p>");
          $('.issueTitle').html("<h2>" + dataObj.title + "</h2>");
          $('.issueText').html("<p>" + dataObj.text + "</p>");
          }
        });
      });

// GET pro comments
      $(function (){
        var comments_url = "/getcomments/?_id=" + pathArray + "&side=pro";
        $.ajax({
          type: "GET",
          url: comments_url,
          success: function(data) {
            window.pro_data = data;
   
            $(function (){
              var comments_url = "/getcomments/?_id=" + pathArray + "&side=con";
              $.ajax({
                type: "GET",
                url: comments_url,
                success: function(data) {
                  window.con_data = data;

                  function button (btype, name, id, big) {
                    var str = "";
                    str += "<input type='button' class='" + btype + "_vote_button'";
                    str += " id='" +  id +  "' value='" + name + "'>";
                    return str;}

                  function addTypeButtons(id){
                    var buttons =  button("stat", "Stat", id) + button("rat", "Logic", id) + button('moral', "Moral", id) + button('anec', "Anec.", id);
                    return buttons;}

                  function addVoteButtons(id){
                    var buttons = button("up", "Up", id) + "<br>" + button("down", "Down", id);
                    return buttons;
                  }

                  function comment_HTML (side, type, x){
                    var arr = type + "CommentArr";
                    var given_url = window[side][arr][x].ref;
                    var abbrv_url = window[side][arr][x].ref.slice(0, 40);
                    window[side][arr][x].text.replace(/"/g, '&quot;');
                    window[side][arr][x].text.replace(/'/g, '&#39;');
                    var re_url_1 = new RegExp("http"), re_url_2 = new RegExp("/www/");
                    var id = window[side][arr][x]._id;
                    var str = "<div class='comment'>";
                    str += "<div class='comment_left'><div id='vote_updown" + id + "'>" + addVoteButtons(id) + "<div class='" + window[side][arr][x].type + "_flag'></div></div></div>";
                    str += "<div class='" + type + "_comment_right'><p class='comment_text'>" + window[side][arr][x].text + "</p>";
                    if (given_url.length < 3) {
                      str += "</div>";
                    } else if (re_url_1.test(given_url) || re_url_2.test(given_url)){
                      str += "<p class='ref'><a href='" + given_url + "'>" + abbrv_url + "... </a></p></div>";
                    } else {str += "<p class='ref'><a href='http://www." + given_url + "'>" + abbrv_url + "... </a></p></div>";}
                    str += "<div class='votediv'><div id='votediv" + id + " style=\"z-index: 1\">'";
                    str += "<p id='button_bar'>";
                    str += addTypeButtons(id);
                    str += "</p></div></div></div>";
                    var re = new RegExp("\'", "g");
                    str = str.replace(re, "");
                    return str;}

                  function renderComments (side, type){
                    var h2_type = "";
                    switch (type) {
                      case "stat":
                        h2_type = "Statistical";
                        break;
                      case "rat":
                        h2_type = "Rational";
                        break;
                      case "moral":
                        h2_type = "Moral";
                        break;
                      case "anec":
                        h2_type = "Anecdotal";
                        break;
                      default:
                        h2_type = "All"
                    }
                  var h2_type_class = "h2_" + h2_type;
                  var mainArr = type + "CommentArr";
                  var data_side = side + "_data";
                  var h2_side = "";
                  if (side === "pro") h2_side = "Pro";
                  else h2_side = "Con";
                  var comments_str = "<h2>" + h2_side + " Comments <span class='" + h2_type_class + "'>&mdash;&nbsp; " + h2_type + "</span></h2>";
                  console.log("length: " +  window[data_side][mainArr].length);
                  
                  for (var i = 0; i < window[data_side][mainArr].length; i++) {
                    var passalong = i;
                    comments_str += comment_HTML(data_side, type, passalong);
                  }
                return comments_str;
              }

//Begin working with comments
   $(".allprocomments").html(renderComments("pro", "all"));
   $(".allconcomments").html(renderComments("con", "all"));
   $('.stat_vote_button').click(function(){
      console.log('clicked stat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
      var sv_url = "/addtypevote/?_id=" + this.id + "&vote=statistical";
      var sv_id = this.id;
      $.ajax({
        type: "GET",
        url: sv_url,
        success: function(data) {
          var current_votediv = "#votediv" + sv_id;
          console.log(sv_id, "and votediv current = " + current_votediv);
          $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
        }
      });
  });
  $('.rat_vote_button').click(function(){
      console.log('clicked rat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
      var sv_url = "/addtypevote/?_id=" + this.id + "&vote=rational";
      var sv_id = this.id;
      $.ajax({
        type: "GET",
        url: sv_url,
        success: function(data) {
          var current_votediv = "#votediv" + sv_id;
          console.log(sv_id, "and votediv current = " + current_votediv);
          $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
        }
      });
  });
  $('.moral_vote_button').click(function(){
      console.log('clicked moral_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
      var sv_url = "/addtypevote/?_id=" + this.id + "&vote=moral";
      var sv_id = this.id;
      $.ajax({
        type: "GET",
        url: sv_url,
        success: function(data) {
          var current_votediv = "#votediv" + sv_id;
          console.log(sv_id, "and votediv current = " + current_votediv);
          $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
        }
      });
  });
  $('.anec_vote_button').click(function(){
      console.log('clicked anec_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
      var sv_url = "/addtypevote/?_id=" + this.id + "&vote=anecdotal";
      var sv_id = this.id;
      $.ajax({
        type: "GET",
        url: sv_url,
        success: function(data) {
          var current_votediv = "#votediv" + sv_id;
          console.log(sv_id, "and votediv current = " + current_votediv);
          $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
        }
      });
  });
  $('.up_vote_button').click(function(){
      console.log('clicked up_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
      var sv_url = "/addvote/?_id=" + this.id + "&vote=up";
      var sv_id = this.id;
      $.ajax({
        type: "GET",
        url: sv_url,
        success: function(data) {
          var current_votediv = "#vote_updown" + sv_id;
          console.log(sv_id, "and votediv current = " + current_votediv);
          $(current_votediv).html("<p><br><br>Got it!</p>");
        }
      });
  });
  $('.down_vote_button').click(function(){
      console.log('clicked down_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
      var sv_url = "/addvote/?_id=" + this.id + "&vote=down";
      var sv_id = this.id;
      $.ajax({
        type: "GET",
        url: sv_url,
        success: function(data) {
          var current_votediv = "#vote_updown" + sv_id;
          console.log(sv_id, "and votediv current = " + current_votediv);
          $(current_votediv).html("<p><br><br>Got it!</p>");
        }
      });
  });

   //activate view buttons
$('#allButton').click(function(){
       current_view = "allCommentArr";
       $('.allprocomments').html(null);
       $('.allconcomments').html(null);
       $(".allprocomments").html(renderComments("pro", "all"));
       $(".allconcomments").html(renderComments("con", "all"));

       $('.stat_vote_button').click(function(){
          console.log('clicked stat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
          var sv_url = "/addtypevote/?_id=" + this.id + "&vote=statistical";
          var sv_id = this.id;
          $.ajax({
            type: "GET",
            url: sv_url,
            success: function(data) {
              var current_votediv = "#votediv" + sv_id;
              console.log(sv_id, "and votediv current = " + current_votediv);
              $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
            }
          });
      });
      $('.rat_vote_button').click(function(){
          console.log('clicked rat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
          var sv_url = "/addtypevote/?_id=" + this.id + "&vote=rational";
          var sv_id = this.id;
          $.ajax({
            type: "GET",
            url: sv_url,
            success: function(data) {
              var current_votediv = "#votediv" + sv_id;
              console.log(sv_id, "and votediv current = " + current_votediv);
              $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
            }
          });
      });
      $('.moral_vote_button').click(function(){
          console.log('clicked moral_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
          var sv_url = "/addtypevote/?_id=" + this.id + "&vote=moral";
          var sv_id = this.id;
          $.ajax({
            type: "GET",
            url: sv_url,
            success: function(data) {
              var current_votediv = "#votediv" + sv_id;
              console.log(sv_id, "and votediv current = " + current_votediv);
              $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
            }
          });
      });
      $('.anec_vote_button').click(function(){
          console.log('clicked anec_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
          var sv_url = "/addtypevote/?_id=" + this.id + "&vote=anecdotal";
          var sv_id = this.id;
          $.ajax({
            type: "GET",
            url: sv_url,
            success: function(data) {
              var current_votediv = "#votediv" + sv_id;
              console.log(sv_id, "and votediv current = " + current_votediv);
              $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
            }
          });
      });
   });
   $('.up_vote_button').click(function(){
       console.log('clicked up_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addvote/?_id=" + this.id + "&vote=up";
       var sv_id = this.id;
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           var current_votediv = "#vote_updown" + sv_id;
           console.log(sv_id, "and votediv current = " + current_votediv);
           $(current_votediv).html("<p><br><br>Got it!</p>");
         }
       });
   });
   $('.down_vote_button').click(function(){
       console.log('clicked down_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addvote/?_id=" + this.id + "&vote=down";
       var sv_id = this.id;
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           var current_votediv = "#vote_updown" + sv_id;
           console.log(sv_id, "and votediv current = " + current_votediv);
           $(current_votediv).html("<p><br><br>Got it!</p>");
         }
       });
   });

$('#statButton').click(function(){
    current_view = "statCommentArr";
    $('.allprocomments').html(null);
    $('.allconcomments').html(null);
    $(".allprocomments").html(renderComments("pro", "stat"));
    $(".allconcomments").html(renderComments("con", "stat"));

    $('.stat_vote_button').click(function(){
       console.log('clicked stat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addtypevote/?_id=" + this.id + "&vote=statistical";
       var sv_id = this.id;
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           var current_votediv = "#votediv" + sv_id;
           console.log(sv_id, "and votediv current = " + current_votediv);
           $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
         }
       });
   });
   $('.rat_vote_button').click(function(){
       console.log('clicked rat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addtypevote/?_id=" + this.id + "&vote=rational";
       var sv_id = this.id;
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           var current_votediv = "#votediv" + sv_id;
           console.log(sv_id, "and votediv current = " + current_votediv);
           $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
         }
       });
   });
   $('.moral_vote_button').click(function(){
       console.log('clicked moral_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addtypevote/?_id=" + this.id + "&vote=moral";
       var sv_id = this.id;
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           var current_votediv = "#votediv" + sv_id;
           console.log(sv_id, "and votediv current = " + current_votediv);
           $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
         }
       });
   });
   $('.anec_vote_button').click(function(){
       console.log('clicked anec_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addtypevote/?_id=" + this.id + "&vote=anecdotal";
       var sv_id = this.id;
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           var current_votediv = "#votediv" + sv_id;
           console.log(sv_id, "and votediv current = " + current_votediv);
           $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
         }
       });
   });

$('.up_vote_button').click(function(){
    console.log('clicked up_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
    var sv_url = "/addvote/?_id=" + this.id + "&vote=up";
    var sv_id = this.id;
    $.ajax({
      type: "GET",
      url: sv_url,
      success: function(data) {
        var current_votediv = "#vote_updown" + sv_id;
        console.log(sv_id, "and votediv current = " + current_votediv);
        $(current_votediv).html("<p><br><br>Got it!</p>");
      }
    });
});
$('.down_vote_button').click(function(){
    console.log('clicked down_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
    var sv_url = "/addvote/?_id=" + this.id + "&vote=down";
    var sv_id = this.id;
    $.ajax({
      type: "GET",
      url: sv_url,
      success: function(data) {
        var current_votediv = "#vote_updown" + sv_id;
        console.log(sv_id, "and votediv current = " + current_votediv);
        $(current_votediv).html("<p><br><br>Got it!</p>");
      }
    });
});
});

$('#ratButton').click(function(){
    current_view = "statCommentArr";
    $('.allprocomments').html(null);
    $('.allconcomments').html(null);
    $(".allprocomments").html(renderComments("pro", "rat"));
    $(".allconcomments").html(renderComments("con", "rat"));

    $('.stat_vote_button').click(function(){
       console.log('clicked stat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addtypevote/?_id=" + this.id + "&vote=statistical";
       var sv_id = this.id;
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           var current_votediv = "#votediv" + sv_id;
           console.log(sv_id, "and votediv current = " + current_votediv);
           $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
         }
       });
   });
   $('.rat_vote_button').click(function(){
       console.log('clicked rat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addtypevote/?_id=" + this.id + "&vote=rational";
       var sv_id = this.id;
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           var current_votediv = "#votediv" + sv_id;
           console.log(sv_id, "and votediv current = " + current_votediv);
           $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
         }
       });
   });
   $('.moral_vote_button').click(function(){
       console.log('clicked moral_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addtypevote/?_id=" + this.id + "&vote=moral";
       var sv_id = this.id;
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           var current_votediv = "#votediv" + sv_id;
           console.log(sv_id, "and votediv current = " + current_votediv);
           $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
         }
       });
   });
   $('.anec_vote_button').click(function(){
       console.log('clicked anec_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addtypevote/?_id=" + this.id + "&vote=anecdotal";
       var sv_id = this.id;
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           var current_votediv = "#votediv" + sv_id;
           console.log(sv_id, "and votediv current = " + current_votediv);
           $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
         }
       });
   });

$('.up_vote_button').click(function(){
    console.log('clicked up_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
    var sv_url = "/addvote/?_id=" + this.id + "&vote=up";
    var sv_id = this.id;
    $.ajax({
      type: "GET",
      url: sv_url,
      success: function(data) {
        var current_votediv = "#vote_updown" + sv_id;
        console.log(sv_id, "and votediv current = " + current_votediv);
        $(current_votediv).html("<p><br><br>Got it!</p>");
      }
    });
});
$('.down_vote_button').click(function(){
    console.log('clicked down_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
    var sv_url = "/addvote/?_id=" + this.id + "&vote=down";
    var sv_id = this.id;
    $.ajax({
      type: "GET",
      url: sv_url,
      success: function(data) {
        var current_votediv = "#vote_updown" + sv_id;
        console.log(sv_id, "and votediv current = " + current_votediv);
        $(current_votediv).html("<p><br><br>Got it!</p>");
      }
    });
});
});

$('#moralButton').click(function(){
    current_view = "moralCommentArr";
    $('.allprocomments').html(null);
    $('.allconcomments').html(null);
    $(".allprocomments").html(renderComments("pro", "moral"));
    $(".allconcomments").html(renderComments("con", "moral"));

    $('.stat_vote_button').click(function(){
       console.log('clicked stat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addtypevote/?_id=" + this.id + "&vote=statistical";
       var sv_id = this.id;
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           var current_votediv = "#votediv" + sv_id;
           console.log(sv_id, "and votediv current = " + current_votediv);
           $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
         }
       });
   });
   $('.rat_vote_button').click(function(){
       console.log('clicked rat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addtypevote/?_id=" + this.id + "&vote=rational";
       var sv_id = this.id;
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           var current_votediv = "#votediv" + sv_id;
           console.log(sv_id, "and votediv current = " + current_votediv);
           $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
         }
       });
   });
   $('.moral_vote_button').click(function(){
       console.log('clicked moral_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addtypevote/?_id=" + this.id + "&vote=moral";
       var sv_id = this.id;
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           var current_votediv = "#votediv" + sv_id;
           console.log(sv_id, "and votediv current = " + current_votediv);
           $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
         }
       });
   });
   $('.anec_vote_button').click(function(){
       console.log('clicked anec_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addtypevote/?_id=" + this.id + "&vote=anecdotal";
       var sv_id = this.id;
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           var current_votediv = "#votediv" + sv_id;
           console.log(sv_id, "and votediv current = " + current_votediv);
           $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
         }
       });
   });

$('.up_vote_button').click(function(){
    console.log('clicked up_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
    var sv_url = "/addvote/?_id=" + this.id + "&vote=up";
    var sv_id = this.id;
    $.ajax({
      type: "GET",
      url: sv_url,
      success: function(data) {
        var current_votediv = "#vote_updown" + sv_id;
        console.log(sv_id, "and votediv current = " + current_votediv);
        $(current_votediv).html("<p><br><br>Got it!</p>");
      }
    });
});
$('.down_vote_button').click(function(){
    console.log('clicked down_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
    var sv_url = "/addvote/?_id=" + this.id + "&vote=down";
    var sv_id = this.id;
    $.ajax({
      type: "GET",
      url: sv_url,
      success: function(data) {
        var current_votediv = "#vote_updown" + sv_id;
        console.log(sv_id, "and votediv current = " + current_votediv);
        $(current_votediv).html("<p><br><br>Got it!</p>");
      }
    });
});
});

$('#anecButton').click(function(){
    current_view = "anecCommentArr";
    $('.allprocomments').html(null);
    $('.allconcomments').html(null);
    $(".allprocomments").html(renderComments("pro", "anec"));
    $(".allconcomments").html(renderComments("con", "anec"));

    $('.stat_vote_button').click(function(){
       console.log('clicked stat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addtypevote/?_id=" + this.id + "&vote=statistical";
       var sv_id = this.id;
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           var current_votediv = "#votediv" + sv_id;
           console.log(sv_id, "and votediv current = " + current_votediv);
           $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
         }
       });
   });
   $('.rat_vote_button').click(function(){
       console.log('clicked rat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addtypevote/?_id=" + this.id + "&vote=rational";
       var sv_id = this.id;
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           var current_votediv = "#votediv" + sv_id;
           console.log(sv_id, "and votediv current = " + current_votediv);
           $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
         }
       });
   });
   $('.moral_vote_button').click(function(){
       console.log('clicked moral_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addtypevote/?_id=" + this.id + "&vote=moral";
       var sv_id = this.id;
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           var current_votediv = "#votediv" + sv_id;
           console.log(sv_id, "and votediv current = " + current_votediv);
           $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
         }
       });
   });
   $('.anec_vote_button').click(function(){
       console.log('clicked anec_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addtypevote/?_id=" + this.id + "&vote=anecdotal";
       var sv_id = this.id;
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           var current_votediv = "#votediv" + sv_id;
           console.log(sv_id, "and votediv current = " + current_votediv);
           $(current_votediv).html("<p class='typevoted_p'>Type vote recieved!</p>");
         }
       });
   });

$('.up_vote_button').click(function(){
    console.log('clicked up_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
    var sv_url = "/addvote/?_id=" + this.id + "&vote=up";
    var sv_id = this.id;
    $.ajax({
      type: "GET",
      url: sv_url,
      success: function(data) {
        var current_votediv = "#vote_updown" + sv_id;
        console.log(sv_id, "and votediv current = " + current_votediv);
        $(current_votediv).html("<p><br><br>Got it!</p>");
      }
    });
});
$('.down_vote_button').click(function(){
    console.log('clicked down_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
    var sv_url = "/addvote/?_id=" + this.id + "&vote=down";
    var sv_id = this.id;
    $.ajax({
      type: "GET",
      url: sv_url,
      success: function(data) {
        var current_votediv = "#vote_updown" + sv_id;
        console.log(sv_id, "and votediv current = " + current_votediv);
        $(current_votediv).html("<p><br><br>Got it!</p>");
      }
    });
});
});


//don't put functions that depend on comment data below this line
    }
  });
});
}});
});
</script>


        <input type="button" id="allButton" value="All">
        <input type="button" id="statButton" value="Statistical">
        <input type="button" id="ratButton" value="Rational">
        <input type="button" id="moralButton" value="Moral">
        <input type="button" id="anecButton" value="Anecdotal">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <input type="button" id="commentButton" value="Add New Comment">
        
        <div class="addCommentForm">
          <form id="newCommentForm" action="/comment/" method="post">
            <p>Side:<br>
              <input type="radio" name="commside" value="pro" checked>Pro
              <input type="radio" name="commside" value="con">Con
            </p>
            <p>
              Comment:<br>
              <textarea type="text" name="commtext" cols="40" rows="4"></textarea>
           </p>
            <p>
              Reference Link:<br>
              <input type="text" name="commref" style="width:300px"><br>
            </p>
            <p>
              Comment Type:<br>
              <input type="radio" name="commtype" value="statistical" checked>Statistical
              <input type="radio" name="commtype" value="rational">Rational
              <input type="radio" name="commtype" value="moral">Moral
              <input type="radio" name="commtype" value="anecdotal">Anecdotal
            </p>
            <p>
              <input class="comment_submit_button" type="submit" value="Submit Comment" />
            </p>
          </form>
          <script>
          // global variables
          var current_view = "allCommentArr";
          var pathArray = window.location.search.slice(5);
          // comment form functionality
          $('#newCommentForm').append('<input type="hidden" name="commissue_id" value="' + pathArray + '" />');

          $('.addCommentForm').hide();

          $('#commentButton').click(function(){
            $('.addCommentForm').toggle();
          });

          $('.comment_submit_button').click(function(){
            $('.commentButton').html("Comment submitted!");
          });
        </script>
      </div>
  </body>
</html>
