<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
    <title>Issue Prism</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">

    </script>
    <style>
      .allprocomments {
        display: inline-block;
        float: left;
        position: absolute;
        margin-top: 30px;
      }
      .allconcomments {
        display: inline-block;
        float: right;
        margin-left: 300px;
        position: absolute;
        margin-top: 30px;
      }
      #commentButton {
        z-index: 1;
        float: left;
        position: absolute;
      }
      .comment {
        display: block;
        background-color: gray;
        position: relative;
        margin: 5px;
        border: 1px solid black;
        border-radius: 10%;
        padding: 0px 10px;
      }
      .addCommentForm {
        position: relative;
        background-color: yellow;
        float: left;
        clear: both;
        margin: 30px 0px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 10px;
      }

      button {
        position: inherit;
        float: left;

      }
    </style>
  </head>

  <body>
    <h1 class="logo">issueprism</h1>
    <div class="navbar">
      <p><a href="/">Home</a> &nbsp; <a href="/addissue">Add Issue</a></p>
    </div>
    <div class="issueContent">
      <div class="issueTypeScope"></div>
      <div class="issueTitle"></div>
      <div class="issueText"></div>
    </div>



     <div>
       <span class="allprocomments">
         Pro Comments  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

       </span>
       <span class="allconcomments">
         Con Comments
       </span>

     </div>

<script>
'strict mode'

$(function (){

  var idPath = "/id/?_id=" + pathArray;
  $.ajax({
    type: "GET",
    url: idPath,
    success: function(data) {
     var dataObj = {
                      _id: JSON.stringify(data._id).replace(/\"/g, ""),
                      title: JSON.stringify(data.title).replace(/\"/g, ""),
                      text: JSON.stringify(data.text).replace(/\"/g, ""),
                      type: JSON.stringify(data.type).replace(/\"/g, ""),
                      scope: JSON.stringify(data.scope).replace(/\"/g, "")
                    };

        $('.issueTypeScope').html("<p>" + dataObj.type + " : " + dataObj.scope + "</p>");
        $('.issueTitle').html("<h2>" + dataObj.title + "</h2>");
        $('.issueText').html("<p>" + dataObj.text + "</p>");

    }
  });
});

// GET pro and con comments

// GET pro comments
$(function (){

var comments_url = "/getcomments/?_id=" + pathArray + "&side=pro";
$.ajax({
type: "GET",
url: comments_url,
success: function(data) {
window.pro_data = data;
$(function (){

  var comments_url = "/getcomments/?_id=" + pathArray + "&side=con";
  $.ajax({
    type: "GET",
    url: comments_url,
    success: function(data) {
      window.con_data = data;

      function button (side, btype, name, id, z) {
      var str = "", arr = btype + "CommentArr";
      str += "<input type='button' class='" + btype + "_vote_button'";
      str += " id='" +  id +  "' value='" + name + "'>";
      return str;}

    function addButtons(side, y, id){

      var buttons =  button(side, "stat", "Stat.", id, y) + button(side, "rat", "Rat.", id, y) + button(side, 'moral', "Moral", id, y) + button(side, 'anec', "Anec.", id, y);
      return buttons;}

    function comment_HTML (side, type, x){

      var arr = type + "CommentArr";
      var id = window[side][arr][x]._id;
      var str = "<div class='comment'>";
      str += "<p class='comment_text'>" + window[side][arr][x].text + "</p>";
      str += "<p class='ref'><a href='" + window[side][arr][x].ref + "'>" + window[side][arr][x].ref + "</a></p>";
      str += "<div class='votediv'>";
      str += "<p>vote on comment type:</p>";
      str += addButtons(side, x, id);
      str += "</div>";
      str += "</div>";
      var re = new RegExp("\'", "g");
      str = str.replace(re, "");
      return str;}

    function renderComments (side, type){

      var mainArr = type + "CommentArr";
      var data_side = side + "_data";
      var comments_str = "";
   console.log("length: " +  window[data_side][mainArr].length);
      for (var i = 0; i < window[data_side][mainArr].length; i++) {
        var passalong = i;
        comments_str += comment_HTML(data_side, type, passalong);
        }
        return comments_str;
      }

    function setUpButtonClick () {

      $(current_vote_button).click(function(){
        console.log("clicked " + current_vote_button + " with id: " + this.id); //attaching id to buttons as a  way to keep comments straight was an interesting #problemtosolve
        var fulltype = "";
          switch (type) {
            case 'stat':
              fulltype = 'statistical';
              break;
            case 'rat':
              fulltype = "rational";
              break;
            case 'moral':
              fulltype = "moral";
              break;
            case 'anec':
              fulltype = 'anecdotal';
              break;
            default:
              fulltype = 'unknown';
              console.log("-could not create fulltype");
            }
        var vote_url = "/addvote/?_id=" + this.id + "&vote=" + fulltype;
          $.ajax({
            type: "GET",
            url: vote_url,
            success: function(data) {
              $('.votediv').html("Vote received!");
            }
          });
      });
    }

//Begin working with comments
   $(".allprocomments").html(renderComments("pro", "all"));
   $(".allconcomments").html(renderComments("con", "all"));
   $('.stat_vote_button').click(function(){
      console.log('clicked stat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
      var sv_url = "/addvote/?_id=" + this.id + "&vote=statistical";
      $.ajax({
        type: "GET",
        url: sv_url,
        success: function(data) {
          $('.votediv').html("Vote received!");
        }
      });
  });
  $('.rat_vote_button').click(function(){
      console.log('clicked rat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
      var sv_url = "/addvote/?_id=" + this.id + "&vote=rational";
      $.ajax({
        type: "GET",
        url: sv_url,
        success: function(data) {
          $('.votediv').html("Vote received!");
        }
      });
  });
  $('.moral_vote_button').click(function(){
      console.log('clicked moral_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
      var sv_url = "/addvote/?_id=" + this.id + "&vote=moral";
      $.ajax({
        type: "GET",
        url: sv_url,
        success: function(data) {
          $('.votediv').html("Vote received!");
        }
      });
  });
  $('.anec_vote_button').click(function(){
      console.log('clicked anec_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
      var sv_url = "/addvote/?_id=" + this.id + "&vote=anecdotal";
      $.ajax({
        type: "GET",
        url: sv_url,
        success: function(data) {
          $('.votediv').html("Vote received!");
        }
      });
  });

   //activate view buttons
$('#allButton').click(function(){
       current_view = "allCommentArr";
       $('.allprocomments').html(null);
       $('.allconcomments').html(null);
       $(".allprocomments").html(renderComments("pro", "all"));
       $(".allconcomments").html(renderComments("con", "all"));

       $('.stat_vote_button').click(function(){
          console.log('clicked stat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
          var sv_url = "/addvote/?_id=" + this.id + "&vote=statistical";
          $.ajax({
            type: "GET",
            url: sv_url,
            success: function(data) {
              $('.votediv').html("Vote received!");
            }
          });
      });
      $('.rat_vote_button').click(function(){
          console.log('clicked rat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
          var sv_url = "/addvote/?_id=" + this.id + "&vote=rational";
          $.ajax({
            type: "GET",
            url: sv_url,
            success: function(data) {
              $('.votediv').html("Vote received!");
            }
          });
      });
      $('.moral_vote_button').click(function(){
          console.log('clicked moral_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
          var sv_url = "/addvote/?_id=" + this.id + "&vote=moral";
          $.ajax({
            type: "GET",
            url: sv_url,
            success: function(data) {
              $('.votediv').html("Vote received!");
            }
          });
      });
      $('.anec_vote_button').click(function(){
          console.log('clicked anec_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
          var sv_url = "/addvote/?_id=" + this.id + "&vote=anecdotal";
          $.ajax({
            type: "GET",
            url: sv_url,
            success: function(data) {
              $('.votediv').html("Vote received!");
            }
          });
      });
   });
$('#statButton').click(function(){
    current_view = "statCommentArr";
    $('.allprocomments').html(null);
    $('.allconcomments').html(null);
    $(".allprocomments").html(renderComments("pro", "stat"));
    $(".allconcomments").html(renderComments("con", "stat"));

    $('.stat_vote_button').click(function(){
       console.log('clicked stat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addvote/?_id=" + this.id + "&vote=statistical";
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           $('.votediv').html("Vote received!");
         }
       });
   });
   $('.rat_vote_button').click(function(){
       console.log('clicked rat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addvote/?_id=" + this.id + "&vote=rational";
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           $('.votediv').html("Vote received!");
         }
       });
   });
   $('.moral_vote_button').click(function(){
       console.log('clicked moral_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addvote/?_id=" + this.id + "&vote=moral";
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           $('.votediv').html("Vote received!");
         }
       });
   });
   $('.anec_vote_button').click(function(){
       console.log('clicked anec_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addvote/?_id=" + this.id + "&vote=anecdotal";
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           $('.votediv').html("Vote received!");
         }
       });
   });
});
$('#ratButton').click(function(){
    current_view = "ratCommentArr";
    $('.allprocomments').html(null);
    $('.allconcomments').html(null);
    $(".allprocomments").html(renderComments("pro", "rat"));
    $(".allconcomments").html(renderComments("con", "rat"));

    $('.stat_vote_button').click(function(){
       console.log('clicked stat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addvote/?_id=" + this.id + "&vote=statistical";
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           $('.votediv').html("Vote received!");
         }
       });
   });
   $('.rat_vote_button').click(function(){
       console.log('clicked rat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addvote/?_id=" + this.id + "&vote=rational";
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           $('.votediv').html("Vote received!");
         }
       });
   });
   $('.moral_vote_button').click(function(){
       console.log('clicked moral_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addvote/?_id=" + this.id + "&vote=moral";
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           $('.votediv').html("Vote received!");
         }
       });
   });
   $('.anec_vote_button').click(function(){
       console.log('clicked anec_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addvote/?_id=" + this.id + "&vote=anecdotal";
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           $('.votediv').html("Vote received!");
         }
       });
   });
});
$('#moralButton').click(function(){
    current_view = "moralCommentArr";
    $('.allprocomments').html(null);
    $('.allconcomments').html(null);
    $(".allprocomments").html(renderComments("pro", "moral"));
    $(".allconcomments").html(renderComments("con", "moral"));

    $('.stat_vote_button').click(function(){
       console.log('clicked stat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addvote/?_id=" + this.id + "&vote=statistical";
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           $('.votediv').html("Vote received!");
         }
       });
   });
   $('.rat_vote_button').click(function(){
       console.log('clicked rat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addvote/?_id=" + this.id + "&vote=rational";
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           $('.votediv').html("Vote received!");
         }
       });
   });
   $('.moral_vote_button').click(function(){
       console.log('clicked moral_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addvote/?_id=" + this.id + "&vote=moral";
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           $('.votediv').html("Vote received!");
         }
       });
   });
   $('.anec_vote_button').click(function(){
       console.log('clicked anec_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addvote/?_id=" + this.id + "&vote=anecdotal";
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           $('.votediv').html("Vote received!");
         }
       });
   });
});
$('#anecButton').click(function(){
    current_view = "anecCommentArr";
    $('.allprocomments').html(null);
    $('.allconcomments').html(null);
    $(".allprocomments").html(renderComments("pro", "anec"));
    $(".allconcomments").html(renderComments("con", "anec"));

    $('.stat_vote_button').click(function(){
       console.log('clicked stat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addvote/?_id=" + this.id + "&vote=statistical";
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           $('.votediv').html("Vote received!");
         }
       });
   });
   $('.rat_vote_button').click(function(){
       console.log('clicked rat_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addvote/?_id=" + this.id + "&vote=rational";
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           $('.votediv').html("Vote received!");
         }
       });
   });
   $('.moral_vote_button').click(function(){
       console.log('clicked moral_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addvote/?_id=" + this.id + "&vote=moral";
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           $('.votediv').html("Vote received!");
         }
       });
   });
   $('.anec_vote_button').click(function(){
       console.log('clicked anec_vote_button with _id: ' + this.id); //attaching an id to the buttons I generated and using that to keep the comments straight was an intereseting problem I solved.
       var sv_url = "/addvote/?_id=" + this.id + "&vote=anecdotal";
       $.ajax({
         type: "GET",
         url: sv_url,
         success: function(data) {
           $('.votediv').html("Vote received!");
         }
       });
   });
});



//don't put functions that depend on comment data below this line
    }
  });
});
}});
});
</script>


        <input type="button" id="allButton" value="All">
        <input type="button" id="statButton" value="Statistical">
        <input type="button" id="ratButton" value="Rational">
        <input type="button" id="moralButton" value="Moral">
        <input type="button" id="anecButton" value="Anecdotal">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <input type="button" id="commentButton" value="Add New Comment">
<div class="addCommentForm">
<form id="newCommentForm" action="/comment/" method="post">
  <p>Side:<br>
    <input type="radio" name="commside" value="pro" checked>Pro
    <input type="radio" name="commside" value="con">Con
  </p>
  <p>Comment:<br>
    <input type="text" name="commtext" ><br>
    <span class="helpertext">Make sure it's a question</span>
  </p>
  <p>Reference Link:<br>
    <input type="text" name="commref" ><br>
  </p>
  <p>Comment Type:<br>
    <input type="radio" name="commtype" value="statistical" checked>Statistical
    <input type="radio" name="commtype" value="rational">Rational
    <input type="radio" name="commtype" value="moral">Moral
    <input type="radio" name="commtype" value="anecdotal">Anecdotal
  </p>
  <p><input type="submit" value="Submit Comment" /></p>
</form>


    <script>
// global variables
      var current_view = "allCommentArr";
      var pathArray = window.location.search.slice(5);
// Comment Form Functionality
      $('#newCommentForm').append('<input type="hidden" name="commissue_id" value="' + pathArray + '" />');

      $('.addCommentForm').hide();

      $('#commentButton').click(function(){
        $('.addCommentForm').toggle();
      });
    </script>
  </body>
</html>
