<!DOCTYPE html>
<html>
  <head>
    <title>Issue Prism - Submit Success</title>
    <style>
    #navbar img {
      display: inline-block;;
    }
    #navbar p {
      display: inline-block;
      margin: 40px 30px  0px 30px;
      position: absolute;
      z-index: 15;
    }
    </style>
  </head>

  <body>
    <h1 class="logo">issueprism</h1>
    <div id="navbar">
      <img src="http://oi61.tinypic.com/11hwk11.jpg " alt="IP Logo" style="width: 500px">
      <p><a href="/">Home</a> &nbsp; <a href="/addissue">Add Issue</a><!--<div class="issueTypeScope"></div>--></p>
    </div>
    <p>You participated, and we saved your issue! Now that's what I call teamwork.</p>
  </body>

</html>
