<!DOCTYPE html>
<html>
  <head>
    <title>handlebars demo</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <style>
    #navbar img {
      display: inline-block;;
    }
    #navbar p {
      display: inline-block;
      margin: 40px 30px  0px 30px;
      position: absolute;
      z-index: 15;
    }
    </style>
  </head>

  <body>
    <!--header-->
    <div id="navbar">
      <a href = "/"><img src="http://oi61.tinypic.com/11hwk11.jpg " alt="IP Logo" style="width: 400px"></a>
      <p><a href="/">Home</a> &nbsp; <a href="/addissue">Add Issue</a><!--<div class="issueTypeScope"></div>--></p>
    </div>

    <!--content-->
    <div id="contentplaceholder"></div>
    <div id="issuelist"></div>

    <script>
      var pathArray = window.location.search;

      check(pathArray, selectionsToObj);

      //helper funtions
      function check(url, callback){
        var reType = new RegExp(/type/);
        var reScope = new RegExp(/scope/);
        if ( (reType.test(url)) && (reScope.test(url)) ){
          console.log("function 'check' successful");
          return callback(url);
        } else return "Type and Scope are not specified";
      }

      function selectionsToObj (url) {
        var results = {};
        var andIndex = url.indexOf('&')
        var newType = url.slice(6, andIndex);
        var newScope = url.slice(andIndex + 7)
        results.type = newType;
        results.scope = newScope;
        console.log("function 'selectionsToObj' successful");
        return requestIssues(results);
      }

      function requestIssues(selectionsObj){
        var event = document.createEvent('Event');
        event.initEvent('gotIssues', true, true);

        var viewThis = selectionsObj.type + selectionsObj.scope;
        console.log("requesting isues for " + viewThis)
        var req = new XMLHttpRequest();
        req.open("GET", viewThis, false);
        req.send(null);
        console.log("Got back: " + req.response, typeof req.response);
        $(document).ready(function(){
          $('#issuelist').html(req.responseText);
        })
      }
    </script>

  </body>
</html>
